FOOTBALL_DATA_API_KEY=
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4
FOOTBALL_DATA_COMPETITION=WC
WORLD_FOOTBALL_RANKING_API_KEY=
WORLD_FOOTBALL_RANKING_BASE_URL=https://world-football-ranking.p.rapidapi.com
WORLD_FOOTBALL_RANKING_HOST=world-football-ranking.p.rapidapi.com
WORLD_FOOTBALL_RANKING_TYPE=official
DATABASE_URL=
MLFLOW_TRACKING_URI=https://dagshub.com/Adrienqry/Fifa-World-Cup-analysis.mlflow
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
NEXT_PUBLIC_API_URL=
